:root {
    --primary-color : #3C3176;
    --secondary-color : #6F69AC;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html {
    scroll-behavior: smooth;
}
.gradient {
    background: linear-gradient(#3C3176, #6F69AC, #7868E6, #6F69AC, #3C3176);
}
.navbar {
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: white;
    z-index: 999;
}
.navbar.sticky {
    padding: 10px 0;
    background: rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease 0s;
}
.navbar ul {
    position: relative;
    display: flex;
    list-style: none;
    padding-right: 40px;
    padding-top: 40px;
}
.hlogo {
    width: 100px;
}
.navbar ul li{
    position: relative;
}
.navbar ul li a{
    position: relative;
    margin: 0 20px;
    text-decoration: none;
    transition: 0.5s;
    color: white;
}
.navbar ul li a:hover,
.navbar ul li a.active {
    color: #7868E6;
}
.navbar button {
    border: 3px solid;
    color: white;
    border-radius: 10px;
    background-color: transparent;
    padding: 5px 25px;
    font-size: 16px;
    margin-top: -10px;
    cursor: pointer;
}
.landing-page {
    min-height: 100vh;
    padding: 3rem;
}
.landing-page > .container {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.title {
    position: relative;
    top: 60px;
    margin-left: 80px;
}
.title h1 {
    font-size: 100px;
}
.title h5 {
    font-size: 30px;
}
.join {
    margin-top: 50px;
    border: 1px solid #FD6F96;
    padding: 5px 80px;
    border-radius: 10px;
    background-color: #FD6F96;
    color: white;
    font-size: 16px;
}
.link {
    display: flex;
    justify-content: flex-end;
    position: relative;
    right: 150px;
    bottom: 290px;
}
.link iframe {
    border-radius: 20px;
}
.champion-prize {
    min-height: 100vh;
    padding: 1rem;
}
.champion-prize::after {
    content:'';
    position:absolute;
    top: 968px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.35);
    min-height: 80vh;
    padding: 3rem;
}
.champion-prize > .container {
    display: flex;
    flex-direction: column;
    height: 100%;
    text-align: center;
    margin-top: 60px;
}
.champion-prize h1 {
    font-size: 50px;
    z-index: 1;
}
.winner {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 0 100px;
    margin-top: 50px;
    z-index: 1;
    color: white;
}
.winner p {
    margin-top: 5px;
}
.first-winner {
    border: 10px solid transparent;
    border-image: linear-gradient(#95DAC1, #FFEBA1, #FD6F96);
    border-image-slice: 1;
    width: 25%;
    height: 60vh;
    z-index: 1;
}
.second-winner {
    border: 10px solid transparent;
    border-image: linear-gradient(#95DAC1, #FFEBA1, #FD6F96);
    border-image-slice: 1;
    width: 25%;
    height: 60vh;
    z-index: 1;
}
.third-winner {
    border: 10px solid transparent;
    border-image: linear-gradient(#95DAC1, #FFEBA1, #FD6F96);
    border-image-slice: 1;
    width: 25%;
    height: 60vh;
    z-index: 1;
}
.mentor-jury {
    min-height: 100vh;
    padding: 3rem;
}
.mentor-jury > .container {
    display: flex;
    flex-direction: column;
    height: 100%;
    text-align: center;
    margin-top: 80px;
}
.mentor-jury h1 {
    font-size: 50px;
}
.mentor-jury h5 {
    font-size: 30px;
    margin-top: 40px;
}
.mentor {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}
.mentor i {
    font-size: 100px;
    color: rgba(255, 255, 255, .5);
    transition: 0.6s ease;
}
.mentor i:hover {
    color: white;
}
.mentors {
   display: inline-flex;
}
.fade {
    animation: fade 1s ease-in;
  }
  @keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
  }
.mentor-picture1 {
    background-image: url('images/jm/mentor\ 1.png');
    background-size: cover;
    border-radius: 50%;
    width: 400px;
    height: 400px;
}
.mentor-picture2 {
    background-image: url('images/jm/mentor\ 2.png');
    background-size: cover;
    border-radius: 50%;
    width: 400px;
    height: 400px;
}
.mentor-picture3 {
    background-image: url('images/jm/mentor\ 3.jpg');
    background-size: cover;
    border-radius: 50%;
    width: 400px;
    height: 400px;
}
.mentor-picture4 {
    background-image: url('images/jm/mentor\ 4.png');
    background-size: cover;
    border-radius: 50%;
    width: 400px;
    height: 400px;
}
.mentor-picture5 {
    background-image: url('images/jm/Mentor\ 5.png');
    background-size: cover;
    border-radius: 50%;
    width: 400px;
    height: 400px;
}
.mentor-picture6 {
    background-image: url('images/jm/mentor\ 6.jpg');
    background-size: cover;
    border-radius: 50%;
    width: 400px;
    height: 400px;
}
.mentor-picture7 {
    background-image: url('images/jm/mentor\ 7.png');
    background-size: cover;
    border-radius: 50%;
    width: 400px;
    height: 400px;
}
.mentor-picture8 {
    background-image: url('images/jm/mentor\ 8.png');
    background-size: cover;
    border-radius: 50%;
    width: 400px;
    height: 400px;
}
.mentor-picture9 {
    background-image: url('images/jm/mentor\ 9.png');
    background-size: cover;
    border-radius: 50%;
    width: 400px;
    height: 400px;
}
.mentor-name h5{
    font-size: 16px;
}
.prev {
    margin-left: 200px;
    cursor: pointer;
}
.next {
    margin-right: 200px;
    cursor: pointer;
}
.jury {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}
.jury-picture1{
    background-image: url('images/1.PNG');
    background-size: cover;
    background-position-x: -50px;
    border-radius: 50%;
    width: 400px;
    height: 400px;
}
.jury-picture2{
    background-image: url('images/2.jpg');
    background-size: cover;
    background-position-x: -50px;
    border-radius: 50%;
    width: 400px;
    height: 400px;
}
.jury-picture3{
    background-image: url('images/3.jpg');
    background-size: cover;
    background-position-x: -50px;
    border-radius: 50%;
    width: 400px;
    height: 400px;
}
.jury-name h5{
    font-size: 16px;
}
.about {
    min-height: 100vh;
    padding: 3rem;
    margin-top: 80px;
    background-image: url('images/about\ hackaton\ 2.png');
    background-size: cover;
}
.about > .container {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.about-desc {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.about .left h1 {
    font-size: 64px;
}
.about .left h5 {
    margin-top: 80px;
    font-size: 20px;
}
.guide {
    border: 1px solid #FD6F96;
    border-radius: 10px;
    background-color: #FD6F96;
    color: white;
    padding: 5px 25px;
    font-size: 20px;
    margin-top: 50px;
}
.reg {
    border: 1px solid #FFEBA1;
    border-radius: 10px;
    background-color: #FFEBA1;
    padding: 5px 68px;
    margin-top: 10px;
    font-size: 20px;
}
.about .right img{
    width: 900px;
    animation: animate 2s linear infinite;
}
@keyframes animate {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(0px);
    }
}
.why {
    min-height: 130vh;
    padding: 3rem;
}
.why > .container {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.why h1 {
    font-size: 64px;
    text-align: center;
}
.slider{
    width: 900px;
    height: 620px;
    border-radius: 10px;
    overflow: hidden;
    margin-left: 260px;
    margin-top: 20px;
  }
  .slides{
    width: 500%;
    height: 500px;
    display: flex;
  }
  .slides input{
    display: none;
  }
  .slide{
    height: 620px;
    transition: 2s;
    background-color: rgba(255, 255, 255, .8);
  }
  .why-desc{
    width: 900px;
    text-align: center;
  }
  .why-desc h1 {
      color: #3C3176;
  }
.desc-list {
    margin-top: -40px;
    margin-left: 85px;
    max-width: 80%;
}

  /*css for manual slide navigation*/

  .navigation-manual{
    position: absolute;
    width: 800px;
    margin-top: 150px;
    display: flex;
    justify-content: center;
    margin-left: 45px;
  }
  .manual-btn{
    border-radius: 10px;
    padding: 5px;
    width: 100px;
    height: 100px;
    cursor: pointer;
    transition: 1s;
  }
  .manual-btn:not(:last-child){
    margin-right: 30px;
  }
  .manual-btn:hover{
    background: #3C3176;
  }
  #radio1:checked ~ .first{
    margin-left: 0;
  }
  #radio2:checked ~ .first{
    margin-left: -20%;
  }
  #radio3:checked ~ .first{
    margin-left: -40%;
  }
  #radio4:checked ~ .first{
    margin-left: -60%;
  }
  #radio5:checked ~ .first{
    margin-left: -80%;
  }
  /*css for automatic navigation*/
  .navigation-auto{
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 650px;
    margin-left: 45px;
  }
  .navigation-auto div{
    border: 1px solid rgba(255, 255, 255, .8);
    background: rgba(255, 255, 255, .8);
    border-radius: 10px;
    padding: 5px;
    width: 100px;
    height: 100px;
    cursor: pointer;
    transition: 1s;
  }
  .navigation-auto div:not(:last-child){
    margin-right: 30px;
  }
  #radio1:checked ~ .navigation-auto .auto-btn1{
    background: #3C3176;
  }
  #radio2:checked ~ .navigation-auto .auto-btn2{
    background: #3C3176;
  }
  #radio3:checked ~ .navigation-auto .auto-btn3{
    background: #3C3176;
  }
  #radio4:checked ~ .navigation-auto .auto-btn4{
    background: #3C3176;
  }
  #radio5:checked ~ .navigation-auto .auto-btn5{
    background: #3C3176;
  }
  .faq {
    min-height: 100vh;
    padding: 3rem;
    margin-top: 20px;
  }
  .faq > .container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .faq h1 {
      font-size: 64px;
  }
  .faq-qwest {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  .faq-qwest .left {
      width: 50%;
  }
  .faq-qwest .right {
      width: 40%;
  }
  .faq-qwest .right img {
      width: 600px;
  }
  .faq-list {
    background-color: rgba(255, 255, 255, .5);
      border-radius: 10px;
      margin-bottom: 10px;
      padding: 0.5rem;
  }
  .faq-desc {
      font-size: 20px;
      text-decoration: none;
      width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .faq-desc i {
      padding: 8px;
      font-size: 50px;
  }
  .faq-desc .fa-caret-up{
       display: none;
  }
  .answer {
      max-height: 0;
      overflow: hidden;
      position: relative;
      background-color: rgba(255, 255, 255, .35);
      transition: 1s;
      border-radius: 10px;
  }
  .answer p {
      font-size: 20px;
  }
  .faq-list:target .answer {
      max-height: 20rem;
  }
  .faq-list:target .faq-desc .fa-caret-down {
      display: none;
  }
  .faq-list:target .faq-desc .fa-caret-up {
    display: block;
}
.background {
    background-image: url('images/bg.png');
    background-size: cover;
    background-position: center;
}
.timeline {
    min-height: 100vh;
    padding: 3rem;
    margin-top: 20px;
}
.timeline > .container {
    display: flex;
    flex-direction: column;
    height: 100%;
    text-align: center;
}
.timeline h1 {
    font-size: 64px;
}
.times {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.times img {
    width: 100%;
    animation: animate6 2s linear infinite;
}
@keyframes animate6 {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(40px);
    }
    100% {
        transform: translateY(0px);
    }
}
.times .right {
    margin-right: 180px;
}
.timeline-list {
    margin: 90px auto;
   border-left: 5px dashed white;
   width: 360px;
   padding: 0 20px 0 30px;
}
.timelines::before {
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #3C3176;
    position: absolute;
    margin-left: -48px;
}
.timelines h5{
    font-size: 30px;
    font-weight: lighter;
}
.timelines a {
    color: #FFEBA1;
    font-size: 16px;
    text-decoration: none;
    font-weight: lighter;
}
.sponsor {
    min-height: 100vh;
    padding: 3rem;
}
.sponsor > .container {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.sponsor h1 {
    font-size: 64px;
    color: rgba(0, 0, 0, 0.5);
}
.sponsor h5 {
    font-size: 30px;
    color: black;
}
.sponsors {
    text-align: center;
}
.platinum img{
    width: 30%;
    margin-top: 20px;
}
.gold {
    margin: 20px 0;
}
.gold img {
    width: 15%;
    margin-top: 20px;
}
.silver img {
    width: 12%;
    margin-top: 20px;
}
.media-partner {
    min-height: 70vh;
    padding: 3rem;
}
.media-partner > .container {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.media-partner h1 {
    font-size: 64px;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
}
.slider2{
    width: 970px;
    height: 260px;
    border-radius: 10px;
    overflow: hidden;
    margin-left: 220px;
    margin-top: 20px;
  }
  .slides2{
    width: 500%;
    height: 500px;
    display: flex;
  }
  .slides2 input{
    display: none;
  }
  .slide2{
    height: 260px;
    transition: 2s;
    background-color: rgba(255, 255, 255, .8);
  }
  .medpar{
    width: 970px;
    text-align: center;
  }
  .medpar h1 {
      color: #3C3176;
  }

  /*css for manual slide navigation*/

  .navigation-manual2{
    position: absolute;
    width: 800px;
    margin-top: -200px;
    display: flex;
    justify-content: center;
    margin-left: 95px;
  }
  .manual-btn2{
    border-radius: 10px;
    padding: 5px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: 1s;
  }
  .manual-btn2:not(:last-child){
    margin-right: 30px;
  }
  .manual-btn2:hover{
    background: #6F69AC;
  }
  #radia1:checked ~ .first{
    margin-left: 0;
  }
  #radia2:checked ~ .first{
    margin-left: -20%;
  }
  #radia3:checked ~ .first{
    margin-left: -40%;
  }
  /*css for automatic navigation*/
  .navigation-auto2{
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 300px;
    margin-left: 95px;
  }
  .navigation-auto2 div{
    border: 1px solid rgba(255, 255, 255, .8);
    background: rgba(255, 255, 255, .8);
    border-radius: 10px;
    padding: 5px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: 1s;
  }
  .navigation-auto2 div:not(:last-child){
    margin-right: 30px;
  }
  #radia1:checked ~ .navigation-auto2 .auto-btn1{
    background: #6F69AC;
  }
  #radia2:checked ~ .navigation-auto2 .auto-btn2{
    background: #6F69AC;
  }
  #radia3:checked ~ .navigation-auto2 .auto-btn3{
    background: #6F69AC;
  }
.other-events {
    min-height: 100vh;
    padding: 3rem;
}
.other-events > .container {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.other-events h1 {
    font-size: 64px;
    color: rgba(0, 0, 0, 0.6);
}
.other-events h5 {
    text-align: center;
    color: black;
    font-size: 30px;
}
.other-events button {
    color: white;
    font-size: 20px;
    background-color: #FD6F96;
    border: 1px solid #FD6F96;
    border-radius: 10px;
    padding: 12px 50px;
    margin-top: 30px;
}
.oe-list {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.vc {
    border: 10px solid transparent;
    border-image: linear-gradient(#3C3176, #6F69AC);
    border-image-slice: 1;
    width: 40%;
    height: 90vh;
}
.dw {
    border: 10px solid transparent;
    border-image: linear-gradient(#3C3176, #6F69AC);
    border-image-slice: 1;
    width: 40%;
    height: 90vh;
}
.dw img {
    margin-top: 20px;
    width: 100%;
}
.dw button {
    margin-top: 65px;
}
.question {
    min-height: 100vh;
    padding: 3rem;
    margin-top: 20px;
}
.question > .container {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.quest-h1 {
    font-size: 64px;
    margin-left: 50px;
}
.questions {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.questions .left {
    width: 45%;
    margin-left: 50px;
}
form {
    margin-top: 10px;
}
label {
    color: white;
    font-size: 16px;
}
.name {
    font-size: 16px;
  width: 100%;
  padding: 10px 16px;
  border-radius: 10px;
}
.email {
    font-size: 16px;
    width: 100%;
    padding: 10px 16px;
    border-radius: 10px;
}
.subject {
    font-size: 16px;
  width: 100%;
  padding: 10px 16px;
  border-radius: 10px;
}
.message {
    resize: none;
    font-size: 16px;
  width: 100%;
  padding: 8px 16px 100px 16px;
  border-radius: 10px;
}
.submit {
    color: white;
    font-size: 20px;
    background-color: #FD6F96;
    border: 1px solid #FD6F96;
    border-radius: 10px;
    padding: 12px 50px;
    margin-top: 30px;
  }
.questions .right {
    width: 40%;
}
.questions .right img {
    width: 500px;
}
.sosmed {
    min-height: 40vh;
    padding: 3rem;
}
.sosmed > .container {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100%;
}
.sosmed h1 {
    font-size: 64px;
}
.sosmed-list {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.footer {
    min-height: 40vh;
    padding: 3rem;
}
.footer > .container {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.footer .left img {
    width: 40%;
}
.footer h5 {
    font-size: 20px;
}
.footer-list {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.loading-page {
    min-height: 100vh;
    padding: 3rem;
    background: linear-gradient(#9145B6, #3C3176);
    text-align: center;
}
.loading-page > .container {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.circles {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.circle1 {
    background-color: #FD6F96;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 500px;
    animation: animate2 2s infinite;
}
@keyframes animate2 {
    0% {
        background-color: #FD6F96;
    }
    25% {
        background-color: #FFEBA1;
    }
    50% {
        background-color: #95DAC1;
    }
    75% {
        background-color: white;
    }
    100% {
        background-color: #FD6F96;
    }
}
.circle2 {
    background-color: #FFEBA1;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    animation: animate3 2s infinite;
}
@keyframes animate3 {
    0% {
        background-color: #FFEBA1;
    }
    25% {
        background-color: #95DAC1;
    }
    50% {
        background-color: white;
    }
    75% {
        background-color: #FD6F96;
    }
    100% {
        background-color: #FFEBA1;
    }
}
.circle3 {
    background-color: #95DAC1;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    animation: animate4 2s infinite;
}
@keyframes animate4 {
    0% {
        background-color: #95DAC1;
    }
    25% {
        background-color: white;
    }
    50% {
        background-color: #FD6F96;
    }
    75% {
        background-color: #FFEBA1;
    }
    100% {
        background-color: #95DAC1;
    }
}
.circle4 {
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 500px;
    animation: animate5 2s infinite;
}
@keyframes animate5 {
    0% {
        background-color: white;
    }
    25% {
        background-color: #FD6F96;
    }
    50% {
        background-color: #FFEBA1;
    }
    75% {
        background-color: #95DAC1;
    }
    100% {
        background-color: white;
    }
}
.loading-title h1 {
    margin-top: 50px;
    font-size: 75px;
    font-family: 'Stardos Stencil', cursive;
}
h1 {
    color: white;
}
h5 {
    color: white;
}
